.form-control {
    padding: 6px;
    outline: 0;
    border-bottom: 2px solid black;
    border-width: 0 0 2px;
    width: auto;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    display: inline-block;
    cursor: default;
    background-color: gray;
  }

